body {
    background-color: #fcfcfc; 
    font-size: 22px; 
    font-family: Tahoma, Verdana, sans-serif, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;

}

header {
    background-color: #F4C095
}
nav a { 
    text-align: center;
    color: #600feb;
    text-decoration: none;
    padding: 35px;
}
#content {
    background-color: #3085C3;
    max-width: 1600px;
    margin-top: 0;
    margin-right: auto;
}
nav a:hover {
    color: #B2533E;
}
.home-title {
    font-family: Georgia, 'Arial', Helvetica; 
    font-size: 2em;
    color: #132043;
    margin-top: 10px;
}
h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:#088395
}

.book, .join{
    background-color: #B5CB99;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
        
}
.book:hover, .join:hover{
    background-color:#3085C3;
}

.msg{
    background-color: #186F65;
    line-height: 1.5em;
    font-size: .8em;
    padding: 35px;
    margin-top: 100px;
    color: white
    
     
     
}
 .msg p {
    padding-bottom: 15px;
 }  
     
     
.msg h2{
    font-family: "Brush Script MT", cursive;
    
    color: white;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    text-align: left;
    background-color:#B2533E
    
}
.social {
    padding-top: 15px;
}
footer p {
    font-size: 1.4em; 
    color: white;  
}

#background {
    height: 725px;
    background-color: rgb(184, 190, 190);
    margin-bottom: 100px;

}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  
.card-img {
    border: 10px; border: solid black;
}
 
main section img {
    box-sizing: border-box;
}

#hero-msg h1,#hero, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}
main section {
    text-align: center;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}


